<app-page-wrapper
    *appAsyncIf="let ensemble of ensemble$; else: notFoundTemplate"
    [title]="ensemble.name"
>
    <app-badge
        page-badge
        *ngIf="ensemble.status === EnsembleStatus.Disbanded"
    >
        <app-icon-text-pair
            icon="directions_walk"
            text="Disbanded"
        ></app-icon-text-pair>
    </app-badge>
    <ng-container page-action>
        <app-mobile-collapsible-filter
            *ngIf="(view$ | async) === EnsembleDataView.Concerts"
            (filterTextChange)="applyFilter($event)"
        >
        </app-mobile-collapsible-filter>
        <ng-container *appIfHasPermission="FeaturePermission.EnsembleWrite">
            <ng-container *ngIf="ensemble.isActive">
                <button
                    mat-button
                    mobileFriendly
                    (click)="editEnsemble(ensemble)"
                >
                    <app-icon-text-pair
                        icon="edit"
                        text="Edit"
                    ></app-icon-text-pair>
                </button>
                <button
                    mat-button
                    mobileFriendly
                    (click)="disbandEnsemble(ensemble)"
                >
                    <app-icon-text-pair
                        icon="directions_walk"
                        text="Disband"
                    ></app-icon-text-pair>
                </button>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="this.view$ | async as view">
        <app-chip-selection
            [chips]="(chips$ | async) ?? []"
            [selection]="[view]"
            (selectionChange)="updateView($event[0])"
        ></app-chip-selection>

        <ng-container [ngSwitch]="view">
            <div
                *ngSwitchCase="EnsembleDataView.Summary"
                class="summary-container"
            >
                <!-- Wrap in div so we don't make the cards the same height from the container grid -->
                <div>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Key Information</mat-card-title>
                        </mat-card-header>
                        <mat-card-content
                            *appLoadingUntilFirstEmit="let summary of ensembleSummary$"
                        >
                            <dl>
                                <ng-container *ngIf="ensemble.isActive">
                                    <dt>Number of current members:</dt>
                                    <dd>{{ summary.currentMemberCount }}</dd>
                                </ng-container>
                                <dt>Number of past members:</dt>
                                <dd>{{ summary.pastMemberCount }}</dd>
                                <dt>Number of concerts:</dt>
                                <dd>{{ summary.performanceCount }}</dd>
                                <ng-container *ngIf="summary.firstConcertDate as firstConcertDate">
                                    <dt>First concert:</dt>
                                    <dd>{{ firstConcertDate | date }}</dd>
                                </ng-container>
                                <ng-container *ngIf="summary.lastConcertDate as lastConcertDate">
                                    <dt>Most recent concert:</dt>
                                    <dd>{{ lastConcertDate | date }}</dd>
                                </ng-container>

                                <ng-container *ngIf="ensemble.isActive">
                                    <dt>Full member fees:</dt>
                                    <dd
                                        *ngIf="
                                            ensemble.memberBillingPeriodFeeDollars > 0;
                                            else freeEnsembleTemplate
                                        "
                                    >
                                        ${{ ensemble.memberBillingPeriodFeeDollars }} per billing
                                        period
                                    </dd>
                                </ng-container>
                                <ng-template #freeEnsembleTemplate>
                                    <dd>Free</dd>
                                </ng-template>
                            </dl>

                            <ng-container *ngIf="ensemble.isActive">
                                <mat-divider></mat-divider>

                                <div
                                    class="member-summary"
                                    *appLoadingUntilFirstEmit="
                                        let chartOptions of memberBreakdownChartOptions$
                                    "
                                >
                                    <ag-charts
                                        *ngIf="hasChartData(chartOptions); else elseChartTemplate"
                                        class="member-breakdown"
                                        [options]="chartOptions"
                                    ></ag-charts>
                                    <ng-template #elseChartTemplate>
                                        No members are currently in this ensemble.
                                    </ng-template>
                                </div>
                            </ng-container>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Yearly active members and performances</mat-card-title>
                            <mat-card-subtitle>
                                The number of current members at the end of a year can be determined
                                by adding the number of members who joined with the number of
                                members who stayed.
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content
                            *appLoadingUntilFirstEmit="let chartOptions of yearlyStatsChartOptions$"
                        >
                            <ag-charts
                                *ngIf="hasChartData(chartOptions); else elseChartTemplate"
                                class="yearly-history"
                                [options]="chartOptions"
                            ></ag-charts>
                            <ng-template #elseChartTemplate>
                                No members or performance history for this ensemble.
                            </ng-template>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <ng-container *ngSwitchCase="EnsembleDataView.Concerts">
                <ng-container *appLoadingUntilFirstEmit="let performances of performances$">
                    <mat-accordion *ngIf="performances.length > 0; else noPerformancesTemplate">
                        <!-- May need to consider virtual scrolling when this gets long -->
                        <app-ensemble-performance-panel
                            *ngFor="let performance of performances"
                            [performance]="performance"
                        ></app-ensemble-performance-panel>
                    </mat-accordion>
                    <ng-template #noPerformancesTemplate>
                        <app-get-started>
                            <p get-started-content>This ensemble hasn't performed yet!</p>
                        </app-get-started>
                    </ng-template>
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="EnsembleDataView.CurrentMembers">
                <app-data-grid [displayActionsInToolbar]="true">
                    <ag-grid-angular
                        *appLoadingIfUndefined="let membershipData of currentMembershipData$"
                        appGridFillHeight
                        [columnDefs]="currentMembershipColumns"
                        [rowData]="membershipData"
                    />
                </app-data-grid>
            </ng-container>
            <ng-container *ngSwitchCase="EnsembleDataView.PastMembers">
                <app-data-grid [displayActionsInToolbar]="true">
                    <ag-grid-angular
                        *appLoadingIfUndefined="let membershipData of pastMembershipData$"
                        appGridFillHeight
                        [columnDefs]="pastMembershipColumns"
                        [rowData]="membershipData"
                    />
                </app-data-grid>
            </ng-container>
        </ng-container>
    </ng-container>
</app-page-wrapper>

<ng-template #notFoundTemplate>
    <app-not-found-page> Unable to find that ensemble. </app-not-found-page>
</ng-template>
