<app-page-wrapper [hasDefaultContainer]="false">
    <app-save-revert-buttons
        page-action
        [postSaveAction]="postSaveAction"
        (save)="refreshTabs()"
        (cancel)="refreshTabs()"
    ></app-save-revert-buttons>

    <mat-tab-group
        [selectedIndex]="selectedTabIndex$ | async"
        (selectedIndexChange)="updateSelectedTab($event)"
    >
        <mat-tab *ngFor="let tab of tabs">
            <ng-template mat-tab-label>
                <mat-icon>{{ tab.icon }}</mat-icon>
                <h3>{{ tab.title }}</h3>
            </ng-template>

            <div class="tab-content">
                <ng-container
                    [appRenderComponent]="tab.content"
                    [appRenderComponentInjector]="injector"
                    (created)="addTabComponentInstance($event)"
                    (destroying)="removeTabComponentInstance($event)"
                ></ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>
</app-page-wrapper>
