<h1 mat-dialog-title>Add new performance</h1>

<mat-dialog-content *appLoadingUntilFirstEmit="let ensembles of ensembles$">
    <mat-form-field>
        <mat-label>Ensemble</mat-label>
        <mat-select
            name="selectedEnsemble"
            [ngModel]="performance.ensemble"
            (ngModelChange)="updatePerformanceEnsemble($event)"
            required
        >
            <mat-option
                *ngFor="let e of ensembles"
                [value]="e"
            >
                {{ e.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="autoSelectMembers">
        Automatically select members of ensemble
    </mat-checkbox>

    <mat-expansion-panel *ngIf="autoSelectMembers">
        <mat-expansion-panel-header
            >{{ ensembleMembers.length }} members will be selected</mat-expansion-panel-header
        >
        <ul>
            <li *ngFor="let member of ensembleMembers">
                {{ member.fullName }}
            </li>
        </ul>
    </mat-expansion-panel>

    You will have the opportunity to refine the performing members and music after clicking OK
</mat-dialog-content>

<mat-dialog-actions>
    <button
        mat-raised-button
        color="primary"
        [disabled]="!performance.ensemble"
        (click)="resolveWithPerformanceAndMembers()"
    >
        <mat-icon>check</mat-icon>
        OK
    </button>
    <button
        mat-button
        (click)="cancel()"
    >
        <mat-icon>cancel</mat-icon>
        Cancel
    </button>
</mat-dialog-actions>
