<div
    *ngIf="agGrid"
    class="grid-toolbar"
>
    <h3 *ngIf="titleText">{{ titleText }}</h3>
    <div
        *ngIf="!displayActionsInToolbar && agGrid"
        class="grid-actions"
    >
        <ng-container [ngTemplateOutlet]="gridActions"></ng-container>
    </div>
</div>
<ng-template #gridActions>
    <app-mobile-collapsible-filter
        *ngIf="showFilter"
        [allowMobileCollapse]="collapseFilter || displayActionsInToolbar"
        (filterTextChange)="applyFilter($event)"
    >
    </app-mobile-collapsible-filter>
    <button
        *ngIf="canAddRow"
        mat-icon-button
        aria-label="Add"
        (click)="addRow()"
        matTooltip="Add"
        data-ref="add-row"
    >
        <mat-icon>add</mat-icon>
    </button>
    <button
        *ngIf="allowExportWithFilename"
        mat-icon-button
        aria-label="Export"
        (click)="exportGrid()"
        matTooltip="Export to CSV"
    >
        <mat-icon>download</mat-icon>
    </button>
    <ng-container
        *ngIf="additionalGridActions"
        [ngTemplateOutlet]="additionalGridActions"
    ></ng-container>
</ng-template>

<ng-content></ng-content>
