<ng-container *ngIf="dataHooks">
    <ng-container *appIfHasPermission="dataHooks.addDataPermission; else noPermissionTemplate">
        <ng-container *ngIf="dataHooks.hasNoData$ | async">
            <p>
                <ng-content></ng-content>
            </p>

            <button
                class="call-to-action"
                mat-raised-button
                color="primary"
                (click)="addData(dataHooks)"
            >
                {{ callToActionText }}
            </button>
        </ng-container>
    </ng-container>
    <ng-template #noPermissionTemplate>
        <ng-container *ngIf="dataHooks.hasNoData$ | async">
            <p>There's no data in here yet, ask your administrator to add some.</p>
        </ng-container>
    </ng-template>
</ng-container>
