<app-page-wrapper [hasDefaultContainer]="false">
    <app-chip-selection
        [chips]="chips"
        [multiple]="true"
        [(selection)]="selectedCategories"
    ></app-chip-selection>

    <app-score-table
        [allowEditing]="hasEditPermissions$ | async"
        [category]="selectedCategories"
        (scoreAddedOrEdited)="updateSelectedIndex($event)"
        (scoreCount)="dataHooks.hasNoData$.next($event === 0)"
    ></app-score-table>
</app-page-wrapper>
