.select-image-container {
    img {
        max-width: 100%;
        max-height: 120px;
    }

    .mat-mdc-form-field-error,
    .mat-mdc-form-field-hint {
        margin-top: 0.5rem;
    }
}

.select-image-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 0.25rem;
}
