<h2 matDialogTitle>Create mailing list</h2>

<mat-dialog-content *appLoadingUntilFirstEmit="let dialogData of dialogData$">
    <app-edit-mailing-list
        [formGroup]="formGroup"
        [addressParameters]="dialogData.addressParameters"
    ></app-edit-mailing-list>
    <div class="recipient-note">Recipients can be added after saving.</div>
    <app-save-error
        *ngIf="error"
        [saveError]="error"
    />
</mat-dialog-content>

<mat-dialog-actions>
    <app-save-cancel-form-buttons
        [form]="formGroup"
        [doSave]="save"
        (error)="error = error"
        saveText="Save & continue editing"
        (cancel)="cancel()"
    ></app-save-cancel-form-buttons>
</mat-dialog-actions>
