<h1 mat-dialog-title>Add concert</h1>

<mat-dialog-content>
    <app-edit-concert
        #editConcertComponent
        [concert]="concert"
    ></app-edit-concert>
    <app-save-error
        *ngIf="error"
        [saveError]="error"
    ></app-save-error>
    <div>Performing ensembles, members and music can be added after saving</div>
</mat-dialog-content>

<mat-dialog-actions>
    <app-save-cancel-buttons
        [form]="editConcertComponent.form"
        [entityTracker]="entityTracker"
        (save)="resolve(concert)"
        (cancel)="cancel()"
        (error)="error = $event"
        saveText="Save & continue editing"
    ></app-save-cancel-buttons>
</mat-dialog-actions>
