@use "responsive";

@mixin dialog-form() {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.25rem;
    column-gap: 1rem;

    @include responsive.desktop-only() {
        grid-template-columns: 1fr 1fr;
    }

    .new-row {
        grid-column-start: 1;
    }

    .full-row {
        grid-column: 1 / -1;
    }
}

@mixin two-column-form() {
    @include responsive.grid-min-max-cols(1, 2, 250px, 0.5rem, 1rem);

    .new-row {
        grid-column-start: 1;
    }

    .full-row {
        grid-column: 1 / -1;
    }
}
