:host {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem;
}

.version-container {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.version-header {
    display: flex;
    align-items: baseline;

    app-badge {
        margin-left: 0.5rem;
    }
}

app-badge.release-badge {
    &.development {
        background-color: #b19cd9;
    }

    &.current {
        background-color: #77dd77;
    }
}

h2 {
    margin-bottom: 0.25rem;
}

.work-items {
    align-self: center;
    margin-left: 0.25rem;
    font-size: 18px;
    color: var(--gray-600);
}

ul {
    margin: 0;
}

mat-icon {
    font-size: inherit;
    width: auto;
    height: auto;
}
