@use "form";
@use "responsive";

.billing-settings {
    @include responsive.grid-min-max-cols(1, 2, 400px, 1rem, 1rem);
}

.form-grid {
    @include form.two-column-form();

    &.form-top-divided {
        margin-top: 1rem;
    }

    &.form-bottom-divided {
        margin-bottom: 1rem;
    }
}

mat-card-header {
    margin-bottom: 0.5rem;
}

mat-expansion-panel {
    margin-left: -1rem;
    margin-right: -1rem;
}

mat-expansion-panel-header {
    font-weight: 500;
}
