<app-page-wrapper
    *appAsyncIf="let concert of concert$; else: notFoundTemplate"
    [title]="concert?.occasion"
>
    <app-badge page-badge>
        <app-icon-text-pair
            icon="edit"
            text="Editing"
        ></app-icon-text-pair>
    </app-badge>
    <app-save-cancel-buttons
        page-action
        [entityTracker]="entityTracker"
        (save)="goToViewPage()"
        (cancel)="goToViewPage()"
        (error)="showErrorDialog($event)"
        saveText="Save & return"
    ></app-save-cancel-buttons>

    <div class="editing-container">
        <div class="left-column">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Key Information</mat-card-title>
                    <mat-card-subtitle>
                        Changes made on this page will only be persisted after clicking 'Save &
                        return'.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <app-edit-concert [concert]="concert"></app-edit-concert>
                </mat-card-content>
            </mat-card>

            <mat-card class="performance-list-card">
                <mat-card-header>
                    <mat-card-title>Performing ensembles</mat-card-title>
                    <button
                        mat-button
                        (click)="addPerformance(concert)"
                    >
                        <mat-icon>add</mat-icon>
                        Add
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <mat-selection-list
                        [multiple]="false"
                        (selectionChange)="selectedPerformance = $event.options[0]?.value"
                    >
                        <mat-list-option
                            *ngFor="let performance of concert.performance"
                            [value]="performance"
                            [selected]="performance === selectedPerformance"
                        >
                            {{ performance.ensemble?.name }}
                        </mat-list-option>
                    </mat-selection-list>
                    <ng-container *ngIf="concert.performance.length === 0"> None. </ng-container>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Cover Image</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-select-image
                        [(blobId)]="concert.coverPhotoBlobId"
                        [uploadDto]="uploadCoverImageDto"
                    ></app-select-image>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Attachments</mat-card-title>
                    <mat-card-subtitle
                        >Changes to attachments will occur immediately.</mat-card-subtitle
                    >
                </mat-card-header>
                <app-storage-entity-attachments
                    *appLoadingIfUndefined="let attachmentService of attachmentService$"
                    [attachmentService]="attachmentService"
                    [canEdit]="true"
                    entityAreaText="concerts"
                ></app-storage-entity-attachments>
            </mat-card>
        </div>
        <div class="right-column">
            <mat-card
                *ngIf="selectedPerformance; else notSelectedTemplate"
                class="performance-card"
            >
                <mat-card-header>
                    <mat-card-title>
                        {{ selectedPerformance.ensemble?.name }} performers and performed music
                    </mat-card-title>
                    <button
                        mat-button
                        (click)="deletePerformance(selectedPerformance, concert)"
                    >
                        <mat-icon>delete</mat-icon>
                        Delete
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <app-edit-performance
                        [performance]="selectedPerformance"
                        (entityModified)="entityTracker.add($event)"
                    ></app-edit-performance>
                </mat-card-content>
            </mat-card>

            <ng-template #notSelectedTemplate>
                <mat-card class="not-selected-card">
                    <mat-card-header>
                        <mat-card-title>No performing ensembles</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Add a performing ensemble in order to record performers and performed music.

                        <button
                            mat-raised-button
                            color="primary"
                            (click)="addPerformance(concert)"
                        >
                            <mat-icon>add</mat-icon>
                            Add a performing ensemble
                        </button>
                    </mat-card-content>
                </mat-card>
            </ng-template>
        </div>
    </div>
</app-page-wrapper>

<ng-template #notFoundTemplate>
    <app-not-found-page>
        Unable to find that concert. Do you have the right link?
    </app-not-found-page>
</ng-template>
