@use "responsive";

mat-expansion-panel-header {
    mat-panel-title {
        align-items: center;

        mat-icon {
            margin-right: 0.25rem;
        }
    }
}

.performance-details {
    @include responsive.grid-min-max-cols(1, 2, 300px, 0px, 1rem);

    .performance-scores,
    .performance-members {
        display: flex;
        flex-direction: column;

        ul {
            height: 100%;
        }
    }

    .performance-members {
        @include responsive.desktop-only() {
            ul {
                columns: 2;
                column-fill: auto;
            }
        }
    }
}
