<h2 matDialogTitle>Edit Contact</h2>

<form
    mat-dialog-content
    [formGroup]="contactForm"
>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input
            matInput
            formControlName="name"
        />
        <mat-error appAggregateFormControlNameErrors="name"></mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="archivedOn">
        <mat-label>Archived on</mat-label>
        <input
            matInput
            [matDatepicker]="archivedOnPicker"
            [ngModel]="archivedOn"
            [ngModelOptions]="{ standalone: true }"
            disabled
        />
        <mat-datepicker #archivedOnPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="new-row">
        <mat-label>Email</mat-label>
        <input
            matInput
            formControlName="email"
        />
        <mat-error appAggregateFormControlNameErrors="email"></mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Phone No.</mat-label>
        <input
            matInput
            formControlName="phoneNo"
        />
        <mat-error appAggregateFormControlNameErrors="phoneNo"></mat-error>
    </mat-form-field>
    <mat-form-field class="full-row">
        <mat-label>Affiliation</mat-label>
        <input
            matInput
            formControlName="affiliation"
        />
        <mat-error appAggregateFormControlNameErrors="affiliation"></mat-error>
    </mat-form-field>
    <mat-form-field class="full-row">
        <mat-label>Notes</mat-label>
        <textarea
            matInput
            formControlName="notes"
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="3"
            [cdkAutosizeMaxRows]="10"
        ></textarea>
        <mat-error appAggregateFormControlNameErrors="notes"></mat-error>
    </mat-form-field>
</form>

<mat-dialog-actions>
    <app-save-cancel-form-buttons
        [form]="contactForm"
        [doSave]="saveContact"
        (cancel)="cancel()"
    ></app-save-cancel-form-buttons>
</mat-dialog-actions>
