<h2 matDialogTitle>Performances of {{ score.formattedName }}</h2>

<mat-dialog-content class="content">
    <div class="subtitle">Click a concert to view more details.</div>

    <mat-nav-list *appLoadingUntilFirstEmit="let concerts of concertList$">
        <a
            mat-list-item
            *ngFor="let concert of concerts"
            [appPrimaryRouterLink]="['concerts', concert.concertId]"
            (click)="resolve(score)"
        >
            <mat-icon
                matListItemIcon
                class="concert-icon"
                >event</mat-icon
            >
            <div matListItemTitle>{{ concert.date | date }} - {{ concert.occasion }}</div>
            <div matListItemLine>
                <ng-container *ngFor="let performance of concert.performances; let last = last">
                    {{ performance.ensembleName }}<ng-container *ngIf="!last">,</ng-container>
                </ng-container>
            </div>
        </a>
    </mat-nav-list>
</mat-dialog-content>

<mat-dialog-actions>
    <button
        mat-raised-button
        [matDialogClose]="score"
        color="primary"
    >
        <mat-icon>check</mat-icon>
        OK
    </button>
</mat-dialog-actions>
