mat-divider + p {
    padding-top: 12px;
}

dl {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;

    dt {
        font-weight: 500;
    }

    dt:not(:first-child) {
        margin-top: 0.5rem;
    }

    dd {
        margin-left: 0;
    }
}

app-data-grid {
    margin-top: 0.5rem;
    border-top: 1px solid var(--mdc-outlined-card-outline-color, transparent);

    ag-grid-angular {
        border: 0;
    }
}
