<mat-list *appLoadingIfUndefined="let attachments of attachments">
    <mat-list-item *ngFor="let attachment of attachments">
        <app-file-icon
            class="file-icon"
            matListItemIcon
            [mimeType]="attachment.mimeType"
        ></app-file-icon>

        <div
            matListItemTitle
            class="attachment-container"
        >
            <div class="attachment-details">
                <span
                    class="attachment-name"
                    [title]="attachment.name"
                >
                    {{ attachment.name }}
                </span>
                <span class="attachment-size">({{ attachment.sizeBytes | appFormatBytes }})</span>
            </div>
            <div class="attachment-modified">
                {{ attachment.modified | date }}
            </div>
        </div>

        <div
            matListItemMeta
            class="attachment-actions"
        >
            <button
                mat-icon-button
                [asyncClick]="download"
                [asyncClickArg]="attachment"
                matTooltip="Download"
            >
                <mat-icon>download</mat-icon>
            </button>
            <ng-container *ngIf="canEdit">
                <button
                    mat-icon-button
                    [asyncClick]="toggleSensitivity"
                    [asyncClickArg]="attachment"
                    [matTooltip]="sensitivity[attachment.sensitivity].tooltip"
                >
                    <mat-icon>{{ sensitivity[attachment.sensitivity].icon }}</mat-icon>
                </button>
                <button
                    mat-icon-button
                    matTooltip="Delete"
                    [asyncClick]="removeAttachment"
                    [asyncClickArg]="attachment"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </ng-container>
        </div>
    </mat-list-item>
    <mat-list-item *ngIf="!canEdit && attachments.length === 0"> No attachments </mat-list-item>

    <ng-container *ngIf="canEdit">
        <ng-container *ngIf="attachments.length > 0">
            <mat-divider></mat-divider>
            <mat-list-item>
                <h3
                    matListItemTitle
                    class="upload-files-header"
                >
                    Upload files
                </h3>
            </mat-list-item>
        </ng-container>

        <mat-list-item *ngFor="let upload of uploadingFiles">
            <app-file-icon
                *ngIf="!upload.error"
                matListItemIcon
                [mimeType]="upload.file.type"
            ></app-file-icon>
            <mat-icon
                *ngIf="upload.error"
                matListItemIcon
                color="warn"
            >
                error
            </mat-icon>

            <div
                matListItemTitle
                class="attachment-container"
            >
                <div class="attachment-details">
                    <span class="attachment-name">{{ upload.file.name }}</span>
                    <span class="attachment-size">({{ upload.file.size | appFormatBytes }})</span>
                </div>
                <div
                    *ngIf="upload.error"
                    class="upload-error"
                    [title]="upload.error"
                >
                    {{ upload.error }}
                </div>
                <mat-progress-bar
                    *ngIf="!upload.error"
                    [mode]="upload.progress === undefined ? 'indeterminate' : 'determinate'"
                    [value]="upload.progress"
                ></mat-progress-bar>
            </div>

            <div
                *ngIf="upload.error"
                matListItemMeta
                class="attachment-actions"
            >
                <button
                    mat-icon-button
                    matTooltip="Retry"
                    (click)="retryUpload(upload)"
                >
                    <mat-icon>refresh</mat-icon>
                </button>
                <button
                    mat-icon-button
                    matTooltip="Delete"
                    (click)="removeUpload(upload)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-list-item>

        <!-- Place as list item to get same padding as all the other items -->
        <mat-list-item class="select-files-item">
            <app-select-files (fileChange)="queueFileUpload($event)"></app-select-files>
        </mat-list-item>
    </ng-container>
</mat-list>
