:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-badge {
    margin-left: 0.5rem;
    background-color: yellow;
}

mat-sidenav-container {
    flex: 1;
}

.navigation-sidenav {
    width: 225px;

    mat-nav-list {
        padding-top: 0;
    }
}

.help-sidenav {
    width: 350px;
}

[mat-list-item] {
    color: rgba(0, 0, 0, 0.87);

    &.active {
        // Same value as the :focus styling
        background: rgba(0, 0, 0, 0.1);
    }

    mat-icon {
        margin-right: 0.5rem;
        color: rgba(0, 0, 0, 0.87);
    }
}

mat-toolbar {
    h1 {
        flex: 0 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 0.5rem;
    }
}

.start-of-right-content {
    margin-left: auto;
}

.help-button.is-mobile {
    margin-left: -0.5rem;
    margin-right: -0.25rem;
}

.help-button:not(.is-mobile) {
    padding: 0 12px;
}

.organisation-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 0.5rem;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}
