<h1 mat-dialog-title>{{ title }}</h1>

<form
    mat-dialog-content
    [formGroup]="form"
>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input
            matInput
            formControlName="name"
        />
        <mat-error appBreezeFormControlNameError="name"></mat-error>
    </mat-form-field>

    <ng-container *appIfHasPermission="FeaturePermission.PlatformSecurityAccess">
        <app-tag-box
            *appLoadingUntilFirstEmit="let selectedRoles of selectedRoles$"
            label="Roles"
            hint="Members with an active membership will receive these permissions"
            [selectedValues]="selectedRoles"
            [allValues]="roles$ | async"
            [formatValue]="getRoleName"
            (valueAdded)="addRole($event)"
            (valueRemoved)="removeRole($event)"
        ></app-tag-box>
    </ng-container>

    <app-save-error
        *ngIf="saveError"
        [saveError]="saveError"
    ></app-save-error>
</form>

<mat-dialog-actions>
    <app-save-cancel-buttons
        [form]="form"
        [entityTracker]="entityTracker"
        (save)="resolve(ensemble)"
        (cancel)="cancel()"
        (error)="saveError = $event"
    ></app-save-cancel-buttons>
</mat-dialog-actions>
