<div
    *appLoadingIfUndefined="let subscription of subscription$"
    class="two-column-container"
>
    <div class="left-column">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Details</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <dl>
                    <dt>Current Plan</dt>
                    <dd>
                        <!--This strange layout is intentional to avoid additional spacing between wording-->
                        {{ subscription.currentPlan
                        }}<ng-container *ngIf="subscription.nextPlan as nextPlan"
                            >, changing to {{ nextPlan }}
                            <ng-container
                                *ngIf="
                                    subscription.currentPlan === PlanType.Trial;
                                    else endOfBillingPeriodTemplate
                                "
                            >
                                at the end of your trial period
                            </ng-container>
                            <ng-template #endOfBillingPeriodTemplate>
                                at the end of the billing period
                            </ng-template>
                        </ng-container>
                    </dd>
                    <ng-container *ngIf="subscription.accessEndsDate as accessEndsDate">
                        <dt>
                            <ng-container
                                *ngIf="
                                    subscription.currentPlan === PlanType.Trial;
                                    else accessEndsTemplate
                                "
                            >
                                Trial ends
                            </ng-container>
                            <ng-template #accessEndsTemplate> Billing period ends </ng-template>
                        </dt>
                        <dd>{{ accessEndsDate | date }}</dd>
                    </ng-container>
                    <dt>Monthly Fee</dt>
                    <dd>
                        {{ subscription.monthlyFeeDollars | currency }}
                        <ng-container *ngIf="subscription.isNotForProfit">
                            (including not-for-profit discount)
                        </ng-container>
                    </dd>
                    <dt>Limitations</dt>
                    <dd>
                        <ng-container
                            *ngIf="subscription.maximumMemberCount; else noLimitationsTemplate"
                        >
                            Maximum of {{ subscription.maximumMemberCount }} active members
                        </ng-container>
                        <ng-template #noLimitationsTemplate> None! Go crazy 🙂 </ng-template>
                    </dd>
                    <dt>First registered on</dt>
                    <dd>{{ subscription.dateRegistered | date }}</dd>
                </dl>

                <ng-container *ngIf="subscription.contactDetails as contactDetails">
                    <mat-divider></mat-divider>

                    <h3>Billing Contact</h3>
                    <dl>
                        <dt>Name</dt>
                        <dd>{{ contactDetails.name }}</dd>
                        <dt>Email</dt>
                        <dd>{{ contactDetails.email }}</dd>
                        <ng-container *ngIf="contactDetails.address">
                            <dt>Address</dt>
                            <dd>{{ contactDetails.address }}</dd>
                        </ng-container>
                    </dl>
                </ng-container>

                <ng-container *ngIf="subscription.paymentMethod as paymentMethod">
                    <mat-divider></mat-divider>

                    <h3>Payment Method</h3>
                    <dl>
                        <dt>Paying via</dt>
                        <dd>{{ paymentMethod.type }}</dd>
                        <dd>{{ paymentMethod.preview }}</dd>
                    </dl>
                </ng-container>

                <ng-container *ngIf="subscription.canAccessCustomerPortal">
                    <mat-divider></mat-divider>

                    <h3>Change details</h3>
                    <p>
                        Orchestrate is made by Maestro Software and we use Stripe for secure and
                        convenient billing. Change or cancel your plan, update your payment method,
                        or update your contact details on Stripe's customer portal.
                    </p>
                    <p>
                        Cancelling your plan will revert you to the free plan at the end of your
                        current billing period. You will retain access however you may only have a
                        maximum of 10 active members.
                    </p>

                    <div class="stripe-link-container">
                        <button
                            mat-raised-button
                            color="primary"
                            [asyncClick]="openCustomerPortal"
                        >
                            <mat-icon>store</mat-icon>
                            Customer Portal
                        </button>
                        <a
                            class="stripe-link"
                            href="https://stripe.com"
                            target="_blank"
                            rel="noopener"
                            aria-label="stripe.com"
                        >
                            <img
                                src="assets/powered_by_stripe.svg"
                                alt="Powered by stripe"
                            />
                        </a>
                    </div>
                </ng-container>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="right-column">
        <mat-card *ngIf="subscription.isAllowedToActivatePaidPlan">
            <mat-card-header>
                <mat-card-title>Activate Plan</mat-card-title>
                <mat-card-subtitle *ngIf="subscription.currentPlan === PlanType.Trial">
                    Ready to get started with a full plan?
                </mat-card-subtitle>
                <mat-card-subtitle *ngIf="subscription.currentPlan === PlanType.Free">
                    Need space for more members?
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content *appLoadingUntilFirstEmit="let paidPlans of paidPlans$">
                <p *ngIf="subscription.isNotForProfit">
                    Not-for-profit discount applied! If you also apply a promotion code on checkout
                    you won't see this discount until the promotional pricing has completed.
                </p>
                <p *ngIf="!subscription.isNotForProfit">
                    Are you a not-for-profit organisation?
                    <a href="mailto:contact@orchestrate.community">Email us</a> before you activate
                    your subscription and we'll apply the discount.
                </p>

                <div class="plan-selection-container">
                    <mat-button-toggle-group (change)="selectedPlan = $event.value">
                        <mat-button-toggle
                            *ngFor="let plan of paidPlans"
                            [value]="plan.planType"
                        >
                            <img
                                *ngIf="paidPlanIcons[plan.planType] as icon"
                                class="plan-icon"
                                [src]="icon"
                                [alt]="plan.planType + ' icon'"
                            />
                            <div class="plan-name">{{ plan.planType }}</div>
                            <div
                                class="plan-line"
                                [ngClass]="{ 'nfp-plan': subscription.isNotForProfit }"
                            >
                                {{ plan.monthlyFeeDollars | currency }} per month
                            </div>
                            <div
                                *ngIf="subscription.isNotForProfit"
                                class="plan-line"
                            >
                                {{ plan.nfpMonthlyFeeDollars | currency }} per month
                            </div>
                            <div class="plan-line max-member-hint">
                                Up to {{ plan.maxMemberCount }} members
                            </div>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <mat-form-field
                    class="promo-code"
                    subscriptSizing="dynamic"
                >
                    <mat-label>Promotion Code</mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="promoCode"
                    />
                    <mat-hint>
                        Check our
                        <a
                            href="https://www.facebook.com/orchestrate.community"
                            target="_blank"
                            rel="noopener"
                            >Facebook page</a
                        >
                        for any current promotions
                    </mat-hint>
                </mat-form-field>

                <p *ngIf="subscription.currentPlan === PlanType.Trial">
                    Don't worry, you won't be charged until your trial period has elapsed.
                </p>

                <div class="stripe-link-container">
                    <button
                        class="activate-subscription-button"
                        mat-raised-button
                        color="accent"
                        [disabled]="!selectedPlan"
                        [asyncClick]="openSubscriptionCheckout"
                        [asyncClickArg]="selectedPlan"
                    >
                        <mat-icon>shopping_cart</mat-icon>
                        Checkout
                    </button>

                    <a
                        class="stripe-link"
                        href="https://stripe.com"
                        target="_blank"
                        rel="noopener"
                        aria-label="stripe.com"
                    >
                        <img
                            src="assets/powered_by_stripe.svg"
                            alt="Powered by stripe"
                        />
                    </a>
                </div>

                <p
                    *ngIf="checkoutError"
                    class="mat-mdc-form-field-error"
                >
                    {{ checkoutError }}
                </p>

                <p>
                    Orchestrate is made by Maestro Software and we use Stripe for secure and
                    convenient billing. When you checkout, you will be taken to Stripe to complete
                    your subscription. Pay with a credit card or direct debit from your bank
                    account.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="subscription.upcomingInvoice as upcomingInvoice">
            <mat-card-header>
                <mat-card-title>Upcoming Invoice</mat-card-title>
                <mat-card-subtitle>
                    This is a preview that will be billed on
                    {{ upcomingInvoice.billingDate | date }}. It may change if you update your plan.
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{ upcomingInvoice.description }}
                    ({{ upcomingInvoice.startDate | date }} - {{ upcomingInvoice.endDate | date }}):
                    {{ upcomingInvoice.totalDollars | currency }}
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="subscription.previousInvoices.length > 0">
            <mat-card-header>
                <mat-card-title>Recent Invoices</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p *ngFor="let invoice of subscription.previousInvoices">
                    {{ invoice.description }}
                    ({{ invoice.startDate | date }} - {{ invoice.endDate | date }}):
                    {{ invoice.totalDollars | currency }}
                    <a
                        class="view-invoice-link"
                        [href]="invoice.url"
                        target="_blank"
                        rel="noopener"
                    >
                        View
                        <mat-icon>open_in_new</mat-icon>
                    </a>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
