<mat-form-field>
    <mat-label *ngIf="label">{{ label }}</mat-label>
    <mat-chip-grid
        #valueList
        [formControl]="control"
    >
        <mat-chip-row
            *ngFor="let value of control.value"
            [value]="value"
            [removable]="true"
            (removed)="removeValue(value)"
        >
            <ng-container
                [ngTemplateOutlet]="chipContentTemplate ?? defaultChipContentTemplate"
                [ngTemplateOutletContext]="{ $implicit: value }"
            ></ng-container>
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-row>
        <!-- Force open after click as it won't open again after selection
            (presumably because a focus event doesn't fire)-->
        <input
            type="text"
            placeholder="Make a selection"
            #valueInput
            #trigger="matAutocompleteTrigger"
            (click)="trigger.openPanel()"
            [formControl]="valueControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="valueList"
        />
    </mat-chip-grid>
    <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="addValue($event)"
    >
        <mat-option
            *ngFor="let value of availableValues$ | async"
            [value]="value"
            (onSelectionChange)="valueInput.value = ''"
        >
            {{ formatValue(value) }}
        </mat-option>
    </mat-autocomplete>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
</mat-form-field>

<ng-template
    #defaultChipContentTemplate
    let-value
>
    {{ formatValue(value) }}
</ng-template>
