.loan-history-container {
    display: flex;
    flex-direction: column;
}

.current-loan-container,
.loan-to-container,
.loan-instance-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.5rem;

    .name {
        flex-basis: 25%;
        text-align: right;
    }
}
