<app-page-wrapper
    *appAsyncIf="let concert of concert$; else: notFoundTemplate"
    [title]="concert.occasion"
>
    <ng-container
        *appIfHasPermission="FeaturePermission.ConcertWrite"
        page-action
    >
        <a
            mat-button
            mobileFriendly
            [routerLink]="['edit']"
        >
            <app-icon-text-pair
                icon="edit"
                text="Edit"
            ></app-icon-text-pair>
        </a>
        <button
            mat-button
            mobileFriendly
            (click)="deleteConcert(concert)"
        >
            <app-icon-text-pair
                icon="delete"
                text="Delete"
            ></app-icon-text-pair>
        </button>
    </ng-container>

    <app-two-column-layout>
        <ng-container left-column>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Key Information</mat-card-title>
                </mat-card-header>
                <img
                    *ngIf="concert.coverPhotoBlobId"
                    mat-card-image
                    [appBlobImage]="concert.coverPhotoBlobId"
                />
                <mat-card-content *appLoadingUntilFirstEmit="let stats of stats$">
                    <dl>
                        <dt>Date:</dt>
                        <dd>{{ concert.date | date }}</dd>
                        <ng-container *ngIf="concert.location">
                            <dt>Location:</dt>
                            <dd>{{ concert.location }}</dd>
                        </ng-container>
                        <dt>Total member count:</dt>
                        <dd>{{ stats.totalMemberCount }}</dd>
                        <dt>Total pieces count:</dt>
                        <dd>{{ stats.totalScoreCount }}</dd>
                        <ng-container *ngIf="concert.notes">
                            <dt class="notes">Notes:</dt>
                            <dd class="notes">{{ concert.notes }}</dd>
                        </ng-container>
                    </dl>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Attachments</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-storage-entity-attachments
                        *appLoadingIfUndefined="let attachmentService of attachmentService$"
                        [attachmentService]="attachmentService"
                        entityAreaText="concerts"
                    ></app-storage-entity-attachments>
                </mat-card-content>
            </mat-card>
        </ng-container>
        <div right-column>
            <ng-container *appLoadingUntilFirstEmit="let performances of performances$">
                <mat-accordion
                    *ngIf="performances.length > 0; else noPerformancesTemplate"
                    [multi]="true"
                >
                    <app-performance-panel
                        *ngFor="let performance of performances"
                        [performance]="performance"
                        [expanded]="isExpanded(performance, focussedPerformanceId$ | async)"
                    >
                    </app-performance-panel>
                </mat-accordion>
                <ng-template #noPerformancesTemplate>
                    <mat-card>
                        No ensembles performed in this concert. Is this a mistake?
                    </mat-card>
                </ng-template>
            </ng-container>
        </div>
    </app-two-column-layout>
</app-page-wrapper>

<ng-template #notFoundTemplate>
    <app-not-found-page>
        Unable to find that concert, do you have the right link?
    </app-not-found-page>
</ng-template>
