<h2 mat-dialog-title>{{ member.fullName }} Membership History</h2>

<mat-dialog-content>
    <mat-accordion *appLoadingUntilFirstEmit="let history of ensembleMembershipHistory$">
        <mat-expansion-panel
            *ngFor="let x of history"
            [expanded]="ensemblePanelOpen.get(x.ensemble)"
            (expandedChange)="ensemblePanelOpen.set(x.ensemble, $event)"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon
                        *ngIf="x.hasActiveMembership"
                        class="active-membership"
                        matTooltip="Currently an active member in this ensemble"
                        >check_circle</mat-icon
                    >
                    <mat-icon
                        *ngIf="!x.hasActiveMembership"
                        class="inactive-membership"
                        matTooltip="Has previously played in this ensemble"
                        >history</mat-icon
                    >
                    <span>{{ x.ensemble.name }}</span>
                </mat-panel-title>
                <mat-panel-description>
                    <ng-container *ngIf="x.hasActiveMembership; else leftTemplate">
                        Joined on {{ x.history[0]?.dateJoined | date }}
                    </ng-container>
                    <ng-template #leftTemplate>
                        Left on {{ x.history[0]?.dateLeft | date }}
                    </ng-template>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-container *ngFor="let h of x.history; let last = last">
                <div class="membership-list">
                    <app-membership-type-icon
                        [membership]="h"
                        [showFeeTextInTooltip]="!h.dateLeft"
                        [size]="
                            h.dateLeft ? {} : { 'font-size': '32px', width: '32px', height: '32px' }
                        "
                    >
                    </app-membership-type-icon>

                    <mat-form-field>
                        <mat-label>Date Joined</mat-label>
                        <input
                            matInput
                            [matDatepicker]="joinedPicker"
                            [(ngModel)]="h.dateJoined"
                            required
                        />
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="joinedPicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #joinedPicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field
                        *ngIf="h.dateLeft"
                        subscriptSizing="dynamic"
                    >
                        <mat-label>Date Left</mat-label>
                        <input
                            matInput
                            [matDatepicker]="leftPicker"
                            [(ngModel)]="h.dateLeft"
                        />
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="leftPicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #leftPicker></mat-datepicker>
                    </mat-form-field>

                    <app-select-membership-type
                        *ngIf="!h.dateLeft"
                        [(membershipType)]="h.type"
                    ></app-select-membership-type>

                    <button
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        aria-label="More actions"
                    >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button
                            *ngIf="h.dateLeft"
                            mat-menu-item
                            (click)="$event.stopPropagation(); h.cycleType()"
                        >
                            <mat-icon>{{ membershipTypeMetadata(h).icon }}</mat-icon>
                            {{ membershipTypeMetadata(h).label }}
                        </button>
                        <button
                            mat-menu-item
                            *ngIf="!h.dateLeft"
                            (click)="endMembershipOnClick(h)"
                        >
                            <mat-icon>archive</mat-icon>
                            Leave
                        </button>
                        <button
                            mat-menu-item
                            (click)="deleteMembership(h)"
                        >
                            <mat-icon>delete_forever</mat-icon>
                            Delete
                        </button>
                    </mat-menu>
                </div>

                <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-card appearance="raised">
        <mat-card-header>
            <mat-card-title>Add membership</mat-card-title>
        </mat-card-header>
        <mat-card-content
            *appLoadingUntilFirstEmit="let availableEnsembles of availableEnsembles$"
            class="membership-list"
        >
            <app-membership-type-icon
                [membershipType]="selectedMembershipType"
                [active]="!!selectedEnsemble"
            ></app-membership-type-icon>

            <mat-form-field>
                <mat-label>Ensemble</mat-label>
                <mat-select
                    [(ngModel)]="selectedEnsemble"
                    [disabled]="availableEnsembles.length === 0"
                    cdkFocusInitial
                >
                    <mat-option
                        [value]="ensemble"
                        *ngFor="let ensemble of availableEnsembles"
                    >
                        {{ ensemble.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <app-select-membership-type
                [(membershipType)]="selectedMembershipType"
            ></app-select-membership-type>

            <button
                mat-button
                (click)="joinEnsembleOnClick(selectedEnsemble!)"
                [disabled]="!selectedEnsemble"
            >
                <mat-icon>person_add</mat-icon>
                Add
            </button>
        </mat-card-content>
    </mat-card>
    <app-save-error
        *ngIf="saveError"
        [saveError]="saveError"
    ></app-save-error>
</mat-dialog-content>
<mat-dialog-actions>
    <app-save-cancel-buttons
        [entityTracker]="entityTracker"
        (save)="resolve(member)"
        (cancel)="cancel()"
        (error)="saveError = $event"
    ></app-save-cancel-buttons>
</mat-dialog-actions>
