@use "form";

.form-grid {
    @include form.two-column-form();
}

.logo-container {
    img {
        display: block;
        max-width: 100%;
        max-height: 120px;
    }

    button {
        margin-top: 0.5rem;
    }

    .mat-mdc-form-field-error,
    .mat-mdc-form-field-hint {
        margin-top: 0.5rem;
    }
}
